aiofiles
bard
SpeechRecognition
aiohttp 
asyncio
cloudscraper
deepai
python-whois
dnspython
ffmpeg-python
gitpython
github
hachoir
Faker
pydub
pycountry
pymongo
heroku3
apscheduler
motor 
numpy
pillow==9.5.0
psutil
wget
pyfiglet
pytz
future==0.18.3
search_engine_parser
py-tgcalls==0.9.7
pykeyboard
pyshorteners
pyrogram
pyrofork
python-dotenv
pyyaml==6.0.1
requests
langdetect
emojis
speedtest-cli
spotipy
tgcrypto
telegraph
tensorflow
unidecode
yt-dlp
youtube-search
youtube-search-python
gtts
git+https://github.com/AsmSafone/SafoneAPI
lexica-api==1.5.1
httpx
gpytranslate
openai==0.28.0
pickledb
python-telegram-bot
pycryptodome
opencv-python
bing-image-urls
bing_image_downloader
git+https://github.com/TEAMPURVI/PurviAPI
googlesearch-python
sympy
git+https://github.com/Mayuri-Chan/pyrofork
